* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: rgb(88, 69, 78);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
